html {
    scroll-behavior: smooth !important;
}
//هدر
.nana {
    position: relative;
    top: 20rem;
    border-radius: 1rem;
}

.kok {
    width: 300px;
    height: 150px;
}

.b1 {
    padding-top: 4rem;
    font-size: x-large;
    color: black;
}

.btn-smr {
    position: relative;
    border: none;
    left: -5rem;

}

.btn-smr-1 {
    position: relative;
    border: none;
    left: -6rem;
}

.baran {
    width: 30px;
}

.caf {
    background-color: rgba(99, 99, 99, 0.312);
    color: black;
    border: none;
}

.caf:hover {
    color: black;
    background-color: rgba(99, 99, 99, 0.158);
}

.papa {
    text-align: center;
    padding-top: 5rem;
}
//سکشن1

.doro {
    padding-top: 1rem;
}

.doro-1 {
    padding-top: 1rem;
    color: rgb(96, 96, 96);
}

.doro-2 {
    color: rgb(96, 96, 96);
}

.sos {
    position: relative;
    top: 6px;
    width: 25px;
}

.btn-primary-1 {
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 21px;
}
.zihaha{
    position: relative;
    right: 50rem;
    top: 26px;
    width: 125px;
}
.consert{
    padding-top: 6rem;
}
//سکشن2
.amir{
    padding-top: 7rem;
}
.yoyo{
    padding-top: 5rem;
}
.koke{
position: relative;
    left: 45px;
    top: 7px;
    font-size: 20px;
    display: block;
}
//سکشن3
.mmli{
    padding-top: 4rem;
}
.bob{
    border-radius: 10px;
}
.bob-2{
    position: relative;
    top: 6rem;
    display: block;
    p{
      font-size: 24px;
      color: rgba(121, 121, 121, 0.679);
    }
}
.hr-1{
    position: relative;
    top: 4rem;
    display: block;
}
//فوتر
.reza-0{
   position: relative; 
   top: 8rem;
   display: block;
}
.reza-01{
    position: relative;
    top: 10rem;
}
.reza-02{
    position: relative;
    top: 10rem;
}









.momo{
       position: relative;
    top: 12rem;
    font-size: 22px;
}



