.krm {
    text-decoration: none;
    color: slategrey;
}

// section-1
.section-1 {
    padding-top: 3rem;
}

.baby {
    position: absolute;
    width: 100%;
    // background-color: rgba(95, 96, 96, 0.481);
    padding-top: 3rem;
}

.vovo {
    width: 100px;
}

.parent-1 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 15px;

}

.toto {
    width: 10rem;
    background-color: #5353535f;
    padding: 23px 36px 38px 39px;
    border-radius: 6px;

}

.pop-1 {
    font-size: 20px;
    padding-top: 10px;
}

.p-11 {
    position: relative;
    top: -2rem;
    left: -7px;
}

.p-111 {
    position: relative;
    top: -2rem;
    left: -40px;

}

.p-1111 {
    position: relative;
    top: -2rem;
    left: -28px;
}

.p-11111 {
    position: relative;
    top: -2rem;
    left: -2px;
    font-size: 11px;
}

.p-111111 {
    position: relative;
    top: -2rem;
    left: -45px;
}

.p-1111111 {
    position: relative;
    top: -2rem;
    left: -3px;
    font-size: 13px;
}

.p-11111111 {
    position: relative;
    top: -2rem;
    left: -22px;
    font-size: 13px;
}

.p-111111111 {
    position: relative;
    top: -2rem;
    left: -4px;
    font-size: 13px;
}

// section2
.yasin {
    padding-top: 15rem;
}

.popow {
    position: relative;
    top: 16rem;
}

.popow1 {
    position: relative;
    top: -1rem;
}

// section3
.viyou {
    border-radius: 14px;
}

// section4

.parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    border-style: hidden;
}

.div18 {
    grid-column-start: 5;
    grid-row-start: 3;
}

.div19 {
    grid-column-start: 4;
    grid-row-start: 3;
}

.poro {
    padding-top: 3rem;
}

.p-dark {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.a-text {
    text-decoration: none;

}

.img-1 {
    position: relative;
    left: -40px;
}

// section5
.h1-1 {
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.p-dark2 {
    padding-top: 2rem;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.p-dark3 {
    padding-top: 2rem;
    font-size: 15px;
    color: rgb(92, 92, 92);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h1-2 {
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h1-3 {
    color: rgb(100, 100, 100);
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.taha1 {

    text-decoration: none;
    color: silver;
    list-style: none;
}

.li-1 {
    list-style: none;
    padding: 3px 4px;
}

.momo1 {
    position: relative;
    top: 12rem;
    font-size: 15px;
}



